button{
    background-color: #e50914;
    color: #ffffff;
}

button:hover{
    background-color: #e50914;
    color: #ffffff;
    opacity: 0.8;
}

img{
    width: 100%;
    cursor: pointer;
}

img:hover {
    transform: scale(1.09);
    cursor: pointer;
}

h3{
    color: #ffffff;
}